.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article__card {
  background-color: beige;
  margin: 4px;
}

.descriptors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.descriptor_item {
  margin: 10px;
  font-size: 10px;
}

.topic_link {
  margin: 5px;
}

.comments_list {
  background-color: aquamarine;
  padding: 5px;
}
.comment__card {
  background-color: rgb(140, 216, 209);
  margin: 4px;
  font-size: 12px;
}
.comment_section {
  background-color: rgb(187, 127, 255);
  padding: 5px;
}
.comment_stage {
  background-color: rgb(199, 118, 188);
  margin: 4px;
  font-size: 12px;
}
