.Body {
  background-color: rgb(17, 69, 114);
  font-family: myfont;
}
.App {
  text-align: center;
}

@font-face {
  font-family: myfont;
  src: url(./Icons_and_fonts/rough_typewriter.otf);
}

.App_header {
  font-size: 4vw;
}

.articles_List {
  display: flex;
  flex-wrap: wrap;
}

.article__card {
  transform-style: preserve-3d;

  transition: 0.2s ease-in-out transform, 0.4s ease-in-out box-shadow;

  flex-grow: 1;
  background-color: beige;
  margin: 1vw;
  width: 50%;
  border-radius: 3vw;
  margin-inline: 10%;
  margin-top: 3vw;
}
.article__card:hover {
  transform: translate3d(0px, -5px, 0px) rotateX(0deg) rotateZ(0deg);
}

.descriptors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.descriptor_item {
  flex-grow: 1;
  font-size: 1vw;
  padding: 0.3vw;
}

.topic_link {
  transform-style: preserve-3d;
  transition: 0.1s ease-in-out transform, 0.1s ease-in-out box-shadow;
  margin: 5px;
}
.topic_link:hover {
  transform: translate3d(0px, -5px, 0px) rotateX(0deg) rotateZ(0deg);
}

.comments_list {
  background-color: aquamarine;
  padding: 5px;
}
.comment__card {
  background-color: rgb(140, 216, 209);
  margin: 4px;
  font-size: 12px;
}
.comment_section {
  background-color: rgb(187, 127, 255);
  padding: 5px;
}
.comment_stage {
  background-color: rgb(199, 118, 188);
  margin: 4px;
  font-size: 12px;
}

h3 {
  font-size: 3vw;
  font-family: myfont;
}
.article_Body {
  line-height: 2vw;
  font-size: 1.5vw;
}
.like_icons {
  height: 2.5vw;
  width: 2.5vw;
  padding: 0.6vw;
}
.article_body {
  background-color: beige;
  margin: 1vw;
  width: 50%;
  border-radius: 3vw;
  margin-inline: auto;
  padding: 2vw;
}
.Button {
  margin: 4px;
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 3vw;
  border-color: white;
  font-family: myfont;
  border-width: 0.2vw;
  opacity: 0.7;
}
.Button:hover {
  opacity: 1;
}
#sort_by {
  opacity: 0.7;
  background-color: grey;
  margin: 4px;
  background-color: rgb(57, 57, 57);
  color: white;
  border-radius: 3vw;
  border-color: white;
  font-family: myfont;
  border-width: 0.2vw;
  display: "Sort by";
  content: "sort by";
}
#sort_by:hover {
  opacity: 1;
}

.sort_by_content {
  margin: 4px;
  background-color: rgb(57, 57, 57);
  color: white;
  border-radius: 3vw;
  border-color: white;
  font-family: myfont;
  border-width: 0.2vw;
}
